@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(/MaterialIcons-Regular.eot);
		src: url(/MaterialIcons-Regular.woff2) format('woff2');
		src: url(/MaterialIcons-Regular.woff) format('woff');
		src: url(/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		display: inline-block;
		width: 1em;
		height: 1em;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
}

#nav {
		background-color: #3f51b5;
		text-align: left;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#nav .mdl-grid {
		color: rgba(255, 255, 255, 0.94);
		margin: 0;
		max-width: 840px;
}

#nav .mdl-cell {
		display: inline-block;
		height: 78px;
}

#nav .mdl-cell > * {
		display: inline-block;
}

#nav #search > * {
		display: inline-block;
		padding: 5px;
}

#nav .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
		background: #c2185b;
}

#nav .mdl-tabs__tab {
		text-transform: none;
		height: 78px;
		line-height: 22px;
		width: 120px;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
		color: rgba(255, 255, 255, 0.56);
		font-weight: 400;
}

#nav .mdl-tabs__tab .mdl-tabs__ripple-container {
		height: 78px;
}

#nav .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
		color: rgba(255, 255, 255, 0.94);
		height: 78px;
}

#nav .mdl-tabs__tab.scrollindicator {
		width: 20px;
}

#nav a:hover.scrollindicator i {
		color: rgba(255, 255, 255, .94);
}

#nav .mdl-tabs__tab.scrollindicator i {
		padding-top: 28px;
}

#nav .mdl-textfield {
		width: 200px;
}

#nav .mdl-textfield__label {
		color: rgba(255, 255, 255, .54);
}

#nav .mdl-textfield__label .highlight {
		color: rgba(255, 255, 255, .94);
}

#nav .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
		color: rgba(255, 255, 255, .54);
}

#nav .mdl-textfield__input {
		border-bottom: 1px solid rgba(255, 255, 255, .54);
}

#nav .mdl-tabs__tab .path,
#nav .mdl-tabs__tab .member {
		width: 120px;
		color: rgba(255, 255, 255, .54);
}

#nav .mdl-tabs__tab .member {
		margin-top: 15px;
		font-size: 16px;
}

#nav .mdl-tabs__tab .path {
		margin-top: 5px;
		font-size: 10px;
}

#nav .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active .member,
#nav .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active .path {
		color: rgba(255, 255, 255, 0.94);
}

#nav .mdl-tabs {
		background-color: #3f51b5;
		height: 78px;
}

#nav *:not(.mdl-menu__item-ripple-container) > .mdl-ripple {
		background: rgb(255, 255, 255);
}

#nav .mdl-tabs__tab-bar {
		height: 78px;
		border-bottom: 0;
}
