body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}

#readme-content {
    margin: 5pt 35pt 35pt 35pt;
    font-size: 14pt;
}

#readme-pointer {
    margin-left: 35pt;
    font-size: 50pt;
    position: relative;
    /* display: inline-block; */
    color: #e8eaf6;
}

#readme-pointer + div {
    margin-left: 15pt;
    padding-top: 1em;
    font-size: 20pt;
    display: inline;
    top: -.5em;
    position: relative;
    color: #666;
    font-weight: 100;
}

.readme-sample {
    margin: .75em;
    font-family: "Roboto Mono", monospace;
}

.readme-column {
    display: inline-block;
    vertical-align: top;
    max-width: 300pt;
    margin: .5em 0 .5em 0;
    position: relativ;
}

.readme-keys {
    font-family: "Roboto Mono", monospace;
    margin-right: .5em;
}

#readme-details {
    position: relative;
    font-size: 12pt;
    margin: 1em;
    padding: .5em;
    background-color: #e8eaf6;
    border: 2px solid #eee;
    border-radius: 5pt;
    display: inline-block;
    clear: right;
}

#main-container {
    position: fixed;
    top: 0;
    left: 0pt;
    height: 100%;
    width: 100%;
}
.settings-header {
    font-weight: 400;
    font-size: 14pt;
    margin: 0.5em 0 0.5em 0;
}

#settings-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}

#settings-content {
    margin: 1em auto;
    padding: .5em 1.5em;
    width: 300pt;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    border-radius: 1em;
}

.settings-pack {
    width: 100%;
    display: inline-block;
    margin-bottom: 1em;
}

.settings-pack-row {
    width: 100%;
    display: inline-block;
}
.settings-pack-row-label {
    width: 20%;
    font-weight: 400;
    display: inline-block;
}
.settings-pack-row-value {
    width: 80%;
    display: inline-block;
}

#menu-container {
   font-size: 20pt;
   display: inline-block;
   vertical-align: top;
   position: relative;
   top: 7pt;
   margin: 7pt;
   color: #e8eaf6;
}

#menu-container:hover {
   color: #7986cb;
}

#search-field-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0;
    top: 7pt;
}

#search-icon {
    position: absolute;
    top: 7pt;
    left: 5pt;
    font-size: 20pt;
    color: #e8eaf6;
    z-index: -1;
}

#search-field {
    font-family: Roboto, sans-serif;
    height: 36pt;
    width: 180pt;
    padding-left: 29pt;
    padding-right: 3pt;
    font-size: 12pt;
    color: #666;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#search-field:focus {
    outline: 0;
}

#search-field:focus + i {
    color: #7986cb;
}

#search-result-container {
    display: inline-block;
    position: relative;
    top: 5pt;
    left: 0;
}

.search-result {
    width: 110pt;
    display: inline-block;
    padding-top: 6pt;
    padding-bottom: 3.5pt;
    padding-right: 3pt;
    padding-left: 5pt;
    margin-top: 2pt;
    margin-left: 5pt;
    color: #666;
    background-color: #e8eaf6;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);

}

.search-result .member-name {
    font-size: 12pt;
    display: inline-block;
    overflow-x: overlay;
}

.search-result .namespace {
    font-size: 8pt;
    overflow-x: overlay;
}

.first-search-result {
    border-left: 0px;
}

.selected-search-result {
    color: #fff;
    background-color: #7986cb;
    font-weight: 400;
}

#ifrm-container {
    position: fixed;
    vertical-align: top;
    margin-top: 45pt;
    left: 0;
    top: 10pt;
    width: 100%;
    height: 100%;
}

#ifrm {
    height: 100%;
    width: 100%;
    border: 0px;
}

