body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #3949ab;
}

a:hover {
    color: #1a237e;
}

.loading-screen {
    display: none;
    font-size: 12pt;
}

.loading-spinner {
    position: relative;
    display: inline-block;
}
.loading-message {
    position: relative;
    display: inline-block;
}

#zero-container {
    margin-left: 4em;
}

#zero-container i {
    font-size: 26pt;
    margin-left: 2pt;
    color: #e8eaf6;
}

#readme-content {
    margin: 5pt 35pt 35pt 35pt;
    font-size: 12pt;
}

#readme-pointer {
    margin-left: 35pt;
    font-size: 30pt;
    position: relative;
    color: #e8eaf6;
}

#readme-pointer + div {
    margin-left: 15pt;
    font-size: 16pt;
    display: inline;
    top: -.2em;
    position: relative;
    color: #666;
    font-weight: 100;
}

.readme-sample {
    margin: .75em;
    font-size: 9pt;
    font-family: "Roboto Mono", monospace;
}

.readme-inline-sample {
    font-family: "Roboto Mono", monospace;
}

.readme-column i {
        margin: 0.2em;
}

.readme-column {
    display: inline-block;
    vertical-align: top;
    max-width: 260pt;
    margin: .5em 1em .5em 1em;
    position: relativ;
}

.readme-keys {
    font-family: "Roboto Mono", monospace;
    margin-right: .5em;
}

#readme-details {
    position: relative;
    font-size: 9pt;
    margin: 1em;
    padding: .5em;
    background-color: #e8eaf6;
    border: 2px solid #eee;
    border-radius: 5pt;
    display: inline-block;
    clear: right;
}

#main-container {
    position: fixed;
    top: 0;
    left: 0pt;
    height: 100%;
    width: 100%;
}
.settings-header {
    font-weight: 400;
    font-size: 12pt;
    margin: 0.5em 0 0.5em 0;
}

.settings-label-value {
    display: block;
    margin-right: 5pt;
}
.settings-label-value input {
    width: 4em;
    margin-bottom: 1em;
}

.input-invalid {
    outline: none;
    border: 2px solid #f44336;
    box-shadow: 0 0 3pt #f44336;
}

.settings-label {
    display: inline-block;
    font-size: 9pt;
    width: 80pt;
}
.settings-value {
    display: inline-block;
    font-size: 8pt
}

.settings-explanation {
    font-size: 8pt;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    max-width: 250pt;
}

#settings-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}

#settings-content {
    margin: 1em auto;
    padding: .5em 1.5em;
    width: 400pt;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    border-radius: 1em;
}

.settings-pack {
    width: 100%;
    display: inline-block;
}

.settings-pack-even {
    background-color: #e8eaf6;
}

.settings-pack:hover {
    color: #fff;
    background-color: #9fa8da;
}

.settings-pack:hover .settings-pack-button i {
    color: white;
}

.settings-pack-row {
    width: 100%;
    display: inline-block;
    font-size: 9pt;
    margin: .1em 0em .1em 0em;
    padding: .2em 0 0 .5em;
}

.settings-pack-row.settings-pack-desc {
    width: 100%;
    display: inline-block;
    font-size: 8pt;
    margin-bottom: .5em;
    padding: .5em;
    overflow-y: scroll;
}

.settings-pack-row-label {
    width: 23%;
    font-weight: 400;
    height: 1.6em;
    display: inline-block;
}
.settings-pack-row-value {
    vertical-align: bottom;
    width: 23%;
    height: 1.6em;
    overflow-x: hidden;
    display: inline-block;
}
.settings-pack-row-value.settings-pack-button {
    vertical-align: bottom;
    width: 4%;
    height: 1.6em;
    overflow-x: hidden;
    display: inline-block;
}

.settings-pack-button i {
    cursor: pointer;
    color: #7986cb;
}

.settings-pack-button i:hover {
    color: #1a237e;
}

#menu-container {
   font-size: 16pt;
   display: inline-block;
   vertical-align: top;
   position: relative;
   top: 7pt;
   margin: 7pt;
   color: #e8eaf6;
}

#menu-container i {
    cursor: pointer;
}

#menu-container:hover {
   color: #7986cb;
}

#search-field-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0;
    top: 7pt;
}

#search-icon {
    position: absolute;
    top: 7pt;
    left: 5pt;
    font-size: 16pt;
    color: #e8eaf6;
    z-index: -1;
}


#search-help {
    position: absolute;
    right: 0pt;
    padding-right: 7pt;
    top: 7pt;
    font-size: 18pt;
    color: #e8eaf6;
    z-index: 800;
    cursor: pointer;
    background-color: white;
}

#search-help:hover {
    color: #7986cb;
}

#search-field {
    font-family: Roboto, sans-serif;
    height: 32pt;
    width: 180pt;
    padding-left: 29pt;
    padding-right: 3pt;
    font-size: 10pt;
    color: #666;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#search-field:focus {
    outline: 0;
}

#search-field:focus + i {
    color: #7986cb;
}

#search-result-container {
    display: inline-block;
    position: relative;
    top: 5pt;
    left: 0;
}

.search-result.visible-search-result {
    display: inline-block;
}

.search-result-label {
    font-size: 7pt;
    position: absolute;
    margin: 2pt;
    right: 0px;
    top: 0px;
}

.search-result {
    position: relative;
    width: 110pt;
    display: none;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-right: 3pt;
    padding-left: 5pt;
    margin-top: 2pt;
    margin-left: 5pt;
    color: #666;
    background-color: #e8eaf6;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);

}

.search-result .member-name {
    font-size: 10pt;
    display: inline-block;
    overflow-x: hidden;
}

.search-result .namespace {
    font-size: 7pt;
    overflow-x: hidden;
}

.selected-search-result {
    color: #fff;
    background-color: #7986cb;
    font-weight: 400;
}

#ifrm-container {
    position: fixed;
    vertical-align: top;
    margin-top: 45pt;
    left: 0;
    top: 10pt;
    width: 100%;
    height: 100%;
}

#ifrm {
    height: 100%;
    width: 100%;
    border: 0px;
}
