body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}

#header {
    position: absolute;
    top: 0;
    margin: 0px;
    width: 100%;
    z-index: -1;
    height: 42pt;
    padding: 5pt;
    text-align: right;
}

#header span {
    margin-right: .5em;
    font-family: Raleway, Roboto, sans-serif;
    font-size: 30pt;
    font-weight: 100;
    color: #3f51b5;
}

#main-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#search-field-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0;
    top: 5pt;
}

#search-field {
    font-family: Roboto, sans-serif;
    height: 36pt;
    width: 175pt;
    padding-left: 3pt;
    padding-right: 3pt;
    font-size: 11pt;
    color: #666;
}

#search-result-container {
    display: inline-block;
    position: relative;
    top: 5pt;
    left: 0;
}

.search-result {
    width: 100pt;
    display: inline-block;
    padding-top: 2.5pt;
    padding-bottom: 2.5pt;
    padding-right: 3pt;
    padding-left: 5pt;
    margin-left: 5pt;
    border-left: 1px solid #666;
    color: #666;
}

.search-result .entity-name {
    font-size: 12pt;
    overflow-x: overlay;
}

.search-result .member-name {
    font-size: 10pt;
    display: inline-block;
    overflow-x: overlay;
}

.search-result .namespace {
    font-size: 8pt;
    overflow-x: overlay;
}

.first-search-result {
    border-left: 0px;
    color: #000;
    font-weight: 400;
}

#ifrm-container {
    position: relative;
    left: 0;
    top: 10pt;
    width: 100%;
    height: 100%;
}

#ifrm {
    height: 100%;
    width: 100%;
    border: 0px;
}

