html {
    background: url(/ui/owl.jpg) 50% 50% / cover no-repeat fixed;
}

body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

#header {
    position: absolute;
    top: 0;
    margin: 0px;
    width: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, .6);
    height: 42pt;
    padding: 5pt;
    text-align: right;
}

#header span {
    margin-right: .5em;
    font-family: Raleway, sans-serif;
    font-size: 30pt;
    font-weight: 100;
    color: #666;
}

#main-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#search-field-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0;
    top: 5pt;
}

#search-field {
    height: 36pt;
    width: 175pt;
    padding-left: 3pt;
    padding-right: 3pt;
    font-size: 11pt;
    color: #666;
}

#search-result-container {
    display: inline-block;
    position: relative;
    top: 5pt;
    left: 0;
}

.search-result {
    width: 100pt;
    display: inline-block;
    padding-top: 2.5pt;
    padding-bottom: 2.5pt;
    padding-right: 3pt;
    padding-left: 3pt;
    background-color: white;
}

.search-result .entity-name {
    font-size: 10pt;
    font-weight: bold;
    overflow-x: overlay;
}

.search-result .function-name {
    font-size: 10pt;
    display: inline-block;
    overflow-x: overlay;
}

.search-result .namespace {
    font-size: 8pt;
    overflow-x: overlay;
}

.first-search-result {
    background-color: #f1c40f;
}

#ifrm-container {
    position: relative;
    left: 0;
    top: 10pt;
    width: 100%;
    height: 100%;
}

#ifrm {
    height: 100%;
    width: 100%;
    border: 0px;
}

