body {
    font-family: sans-serif;
}

#ifrm {
    min-height: 600px;
    min-width: 800px;
    max-width: 100%;
    max-height: 500px;
}

#search-field-container {
    background-color: #ccc;
    display: inline-block;
    vertical-align: top;
}

#search-field {
    height: 34pt;
    width: 175pt;
    padding: 1pt;
    font-size: 16pt;
    color: #666;
}

#search-result-container {
    background-color: #ccc;
    display: inline-block;
}

.search-result {
    background-color: #aaa;
    width: 100pt;
    display: inline-block;
    border: 1px solid white;
    margin: 2pt;
}

.search-result .entity-name {
    background-color: #00aa00;
    font-size: 13pt;
    padding: 2pt;
}

.search-result .function-name {
    background-color: #00cc00;
    font-size: 10pt;
    padding: 2pt;
}

